<%
if session[:comparison]
  items = Item.find(session[:comparison])
end
open = session[:comparison] && session[:comparison].size > 0
%>
<% if items && items.size > 0 %>
<div class="compare"<%= raw ' style="display:none;"' unless open  %>><div class="shadow_b"><div class="shadow_r"><div class="data"><center><a class="count toggle<%=' open' if open %><%=' close' unless open%>" rel="compare_items" href="#"><%= items.size %> <%=Russian::p(items.size, "яхта", "яхты", "яхт")%> к сравнению<span></span></a></center><ul class="compare_items" id="compare_items" style="display:none;"><%- items.each do |item| %><li><a href="<%= item.url %>"><%= item.title %> <%= item.lgth %></a><a class="close" href="/comparison/<%= item.id %>" data-remote="true"></a></li><% end -%></ul><div class="clear"></div><center><a class="button" href="/comparison/"><span class="l"></span>Сравнить<span class="r"></span></a></center></div></div></div></div><% end %>