<% semantic_form_for ["admin", resource], :html => {:multipart => true} do |f| %>
  <% f.inputs do %>
	<li id="page_title_input" class="ckeditor optional">
		<label for="page_title">Название</label>
		<div class="left">
			<%= f.text_field :title, "data-new" => resource.new_record? %>
		</div>
	</li>
	<%= f.input :slug %>
	<li class="select optional" id="page_parent_input"><label for="page_parent_id">Родительский раздел</label><%= f.select :parent_id, nested_set_options(Page, resource) {|i| "#{'-'*i.level} #{i.title}"}, :include_blank => true %></li>
	<li id="page_body_input" class="ckeditor optional">
		<label for="page_body">Содержание</label>
		<div class="left">
			<%= f.ckeditor_textarea :page, :body %>
		</div>
	</li>
	<li id="page_status_input" class="boolean optional"><input type="hidden" value="0" name="page[status]"><label for="page_status">Показывать</label><%= f.check_box :status %></li>
	<li id="page_menu_input" class="boolean optional"><input type="hidden" value="0" name="page[menu]"><label for="page_menu">Показывать в меню</label><%= f.check_box :menu %></li>

	<%= f.semantic_fields_for :image do |image_form| %>
	  
	  <span><%= image_tag @page.image.url if @page.image %>
      <%= link_to_remove_fields "Удалить", image_form %></span>
	  <%= image_form.input :attachment, :as => :file %>
      <%#= f.input :remove_image, :as => :boolean, :label => "Удалить картинку" %>
       
    <% end %>
    <% #f.inputs :for => :assets %>

  <% end %>
<% if resource.resource == 'catalog/index' %>
   <%= f.inputs do %>
	<%= f.input :image, :as => :file, :label => "Картинка" %>
	<%= f.input :pdf, :as => :file, :label => "PDF" %>
	<%= f.input :description, :as => :text %>
   <% end %>
<% end %>

<!--<%= f.inputs do %>
<%= f.semantic_fields_for :pdf do |pdf| %>
  <%= @page.pdf.url if @page.pdf %>
  <%= pdf.input :attachment, :as => :file %>
  <%#= f.input :remove_image, :as => :boolean, :label => "Удалить картинку" %>
   <%= link_to_remove_fields "Удалить", pdf %>
<% end %>
<% end %>-->

<%= f.inputs do %>
	<a class="collapse" href="javascript:void();" rel="blanks_block">Бланки</a>
	<div class="blanks_block hidden">
	<% if @page.blanks %>
	  <% @page.blanks.each do |file| %>
	    <div id="<%= dom_id(file) %>"><%= image_tag file.url(:thumb) %> <%= link_to "Удалить", admin_asset_path(file, :js), :method => :delete, :confirm => "Удалить файл?", :remote => true %></div>
	  <% end %>
	<% end %>
	<% f.semantic_fields_for :blanks do |file| %>
  <%#= render 'item_property_fields', :f => item_properties %>
	<% end %>
	<%= link_to_add_fields "Добавить", f, :blanks %>
	</div>
<% end %>
<%= f.inputs do %>
	<a class="collapse" href="javascript:void();" rel="rules_block">Законы и правила</a>
	<div class="rules_block hidden">
	<% if @page.rules %>
	  <% @page.rules.each do |file| %>
	    <div id="<%= dom_id(file) %>"><%= image_tag file.url(:thumb) %> <%= link_to "Удалить", admin_asset_path(file, :js), :method => :delete, :confirm => "Удалить файл?", :remote => true %></div>
	  <% end %>
	<% end %>
	<% f.semantic_fields_for :rules do |file| %>
  <%#= render 'item_property_fields', :f => item_properties %>
	<% end %>
	<%= link_to_add_fields "Добавить", f, :rules %>
	</div>
<% end %>

  <% f.inputs do %>
    <a class="collapse" href="javascript:void();" rel="seo_block">SEO поля</a>
    <div class="seo_block hidden">
	  <%= f.input :meta_keywords, :as => :text, :hint => 'Ключевые слова вводятся последовательно через запятую.' %>
	  <%= f.input :meta_description, :as => :text, :hint => 'Краткое описание сути страницы для поисковиков.' %>
	</div>
  <% end %>


  <% f.inputs do %>
    <a class="collapse" href="javascript:void();" rel="blocks_block">Блоки</a>
    <div class="blocks_block hidden">
	<% f.semantic_fields_for :blocks do |blocks| %>
      <%= render 'block_fields', :f => blocks %>
	<% end %>
	<li><%= link_to_add_fields "Добавить", f, :blocks %></li>
	</div>
  <% end %>
	<%= f.buttons do %>
	  <%= f.commit_button :label => "Сохранить...", :button_html => { :class => 'yellow_button' } %>
	  <li><%= link_to "Отменить", collection_url, :class => :yellow_button, :confirm => "Внимание!\nИзменения не будут сохранены. Продолжить?" %></li>
	<% end %>
<% end %>