<% semantic_form_for ["admin", resource] do |f| %>
  <% f.inputs do %>
	<li id="page_title_input" class="ckeditor optional">
		<label for="page_title">Название</label>
		<div class="left">
			<%= f.text_field :title, "data-new" => resource.new_record? %>
		</div>
	</li>
	<%= f.input :slug %>
	<li class="select optional" id="page_parent_input"><label for="page_parent_id">Родительский раздел</label><%= f.select :parent_id, nested_set_options(Page, resource) {|i| "#{'-'*i.level} #{i.title}"}, :include_blank => true %></li>
	<li id="page_body_input" class="ckeditor optional">
		<label for="page_body">Содержание</label>
		<div class="left">
			<%= f.ckeditor_textarea :page, :body %>
		</div>
	</li>
	<li id="page_status_input" class="boolean optional"><input type="hidden" value="0" name="page[status]"><label for="page_status">Показывать</label><%= f.check_box :status %></li>
	<li id="page_menu_input" class="boolean optional"><input type="hidden" value="0" name="page[menu]"><label for="page_menu">Показывать в меню</label><%= f.check_box :menu %></li>	
  <% end %>
  <% f.inputs do %>
    <a class="collapse" href="javascript:void();" rel="seo_block">SEO поля</a>
    <div class="seo_block hidden">
	  <%= f.input :meta_keywords, :as => :text, :hint => 'Эта хуйня нужна для поисковиков' %>
	  <%= f.input :meta_description, :as => :text %>
	</div>
  <% end %>

  <% f.inputs do %>
    <a class="collapse" href="javascript:void();" rel="blocks_block">Блоки</a>
    <div class="blocks_block hidden">
	<% f.semantic_fields_for :blocks do |blocks| %>
      <%= render 'block_fields', :f => blocks %>
	<% end %>
	<li><%= link_to_add_fields "Добавить", f, :blocks %></li>
	</div>
  <% end %>
	<%= f.buttons do %>
	  <%= f.commit_button :label => "Сохранить...", :button_html => { :class => 'yellow_button' } %>
	  <li><%= link_to "Отменить", collection_url, :class => :yellow_button, :confirm => "Внимание!\nИзменения не будут сохранены. Продолжить?" %></li>
	<% end %>
<% end %>