<% content_for :js do %>
<script type="text/javascript">
$(document).ready(function() {
$('#post_updated_at').datepicker();
});
</script>
<% end %>
<% semantic_form_for ["admin", resource] do |f| %>
<%= f.inputs do %>


	<li id="post_body_input" class="ckeditor optional">
		<label for="post_body">Содержание</label>
		<div class="left">
			<%= f.text_area :comment %>
		</div>
	</li>
	<%= f.input :updated_at, :as => :string, :label => "Дата"	 %>
<% end %>
<%= f.buttons do %>
	<%= f.submit "Сохранить...", :class => :yellow_button %>
	<%= f.link_to "Отмена", collection_url, :class => :yellow_button %>
<% end %>
<% end %>