<div class="formWrap">


<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => :registration }) do |f| %>
  
<div class="w910">
<h1>Подтверждение почтового адреса</h1>
</div>
<div class="blueBg">
<div class="w910">
  <div class="text"><%= f.label :email %>
  <%= f.text_field :email %></div>
 </div>

<div class="clear"></div>

<div class="w910"><%= render :partial => "devise/shared/links" %></div>
</div>
<div class="w910">
<div class="errorInfo"><%= devise_error_messages! %></div>
  <%= f.submit "Прислать повторно", :class => "submit formReady" %>
  </div>
<% end %>



</div>

