<div class="w910 typical">
	<div class="tree">
		<% if @user %>
		<a href="/">Главная</a> / <a href="/blogs">Блог</a> / <b><%= @user.name %></b>
		<% else %>
		<a href="/">Главная</a> / <b>Блог</b> <div class="arrow"></div>
		<% end %>
	</div>
	<div class="clear"></div>
	<div class="left">
		<%= render 'shared/blog_left_menu' %>
	</div>
	<div class="right">
		<% if @posts %>
		<% @posts.each do |post| %>
		<h1><a href="<%= blog_url(post) %>"><%= post.title %></a></h1>
		<div class="blog_postInfo">
		<%= raw post.announce %>
 			<a class="readMore" href="<%= blog_url(post) %>"><span>Читать дальше</span> →</a> <% if current_user && post.user == current_user %><a class="readMore" href="<%= edit_user_blog_url(current_user, post) %>"><span>Редактировать</span> →</a> <%= link_to raw("<span>Удалить</span>"), user_blog_url(current_user, post), :method => :delete, :confirm => "Удалить пост?", :class => :readMore %> → <% end %> 
			<div class="split_line"></div><div class="clear"></div>
			<div class="left clear">
				<div class="tags"><% post.tags.each do |tag| %><a href="/blogs/tag/<%= URI::encode tag.name %>"><%= tag.name %></a> <% end %></div>
				<div class="date"><%= Russian::strftime(post.created_at, "%d %B %Y")%></div>
				<div class="comments"><a href="<%=blog_url(post) %>"><%= post.comments.size %> <%= Russian::p(post.comments.size, "комментарий", "комментария", "комментариев")%></a></div>
			</div>
			<div class="poster"><a href="<%= user_path(post.user) %>"><% if post.user %><% if post.user.avatar %><img src="<%= post.user.avatar.url(:thumb) %>" /><% end %><%= post.user.name %><% end %></a></div>
			</div>
		<% end %>
		<% else %>
		Не найдено ни одной записи.
		<% end %>
		
		<%= will_paginate @posts %>
<!--		<p class="pagination"><span class="previous_page disabled">← Предыдущие записи</span> <a href="#" rel="next">1</a> <em>2</em> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a> <span class="gap">…</span> <a href="#">25</a> <a href="#" rel="next" class="next_page">Следующие записи →</a>
		</p>-->
		</div>
	</div>