<div class="w910 typical">
	<div class="tree"><a href="/">Главная</a> / <b>Блог</b> <div class="arrow"></div></div>
	<div class="clear"></div>
	<div class="left">
		<%= render 'shared/blog_left_menu' %>
	</div>
	<div class="right">
		<h1><%= @post.title %></h1>
		
		<div class="blog_postInfo">
			<%= raw @post.content %>
			<div class="split_line"></div><div class="clear"></div>
			<div class="left clear">
				<div class="tags"><% @post.tags.each do |tag| %><a href="/blogs/tag/<%= CGI.escape(tag.name) %>"><%= tag.name %></a> <% end %></div>
				<div class="date"><%= Russian::strftime(@post.created_at, "%d %B %Y")%></div>
				<div class="comments"><a href="#comments"><%= @post.comments.size %> <%= Russian::p(@post.comments.size, "комментарий", "комментария", "комментариев")%></a></div>
			</div>
			<% if @post.user %><div class="poster"><a href="<%= user_url(@post.user) %>"><% if @post.user.avatar %><img src="<%= @post.user.avatar.url(:thumb) %>" /><% end %><%= @post.user.name %></a></div><% end %>
		</div>
		<div class="blog_comments">
			<h2 class="left"><a name="comments">Комментарии</a></h2>
			<% if current_user %>
			<a class="showCommentForm">↓ <span>Написать комментарий</span></a>
			<% end %>
			<div class="clear"></div>
			<ul>
			<% if current_user %>
			<li class="addComment">
				<% form_for "comment", :url => blog_comments_path(@post), :as => "comment", :as => :comment do |f| %>
					<div class="text">
						<%= f.text_area :comment %>
					</div>
					<input class="submit" type="submit" value="Отправить" />
				<% end %>
			</li>
			<% end %>
			<% @post.comments.each do |comment| %>
			<% unless comment.new_record? %>
			<li style="clear: both;">
				<p class="date"><%= Russian::strftime(comment.created_at, "%d %B %Y")%></p>
				<a class="poster" href="<%= user_path(comment.user) %>"><% if comment.user.avatar %><img src="<%= comment.user.avatar.url(:thumb) %>" /><% end %><%= comment.user.name %></a>
				<p class="post"><%= comment.comment %></p>
			</li>
			<% end %>
			<% end %>

			</ul>
		
		</div>
	</div>
</div>