<% content_for :helpbar do %>
<div class="addItems_border">
<ul class="addItems">
	<li class="red"><%= link_to "Новый товар", new_resource_url  %></li>
    <li><%= link_to 'Colombo', "/admin/items/?page_id=8", :class => "ico_addArrow" %></li>
    <li><%= link_to 'Sarnico', "/admin/items/?page_id=9", :class => "ico_addArrow" %></li>    
</ul>
</div>
<% end %>

<table border="0" id="main">
	<tr>
		<td>
			<ul class="tree other sortable" id="items">
				<% collection.each do |resource| %>
				<li id="item_<%= resource.id %>"><span><center><%= resource.title + " " + resource.lgth.to_s %><br/><%=image_tag(resource.image.url(:thumb)) if resource.image %></center>
				                <p class="buttons"><%= link_to "", resource_url(resource), :method => :delete, :class=> "ico_cmDel", :confirm => "Объект будет удален!\nХотите продолжить?" %><a class="ico_cmEdit" href="<%=edit_resource_url(resource)%>"></a></p>
				                </span></li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>