<div class="formWrap">
<% form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => :registration}) do |f| %>
	<div class="w910"><h1>Регистрация</h1></div>
	<div class="blueBg">
		<div class="w910">
				<div class="radio">
					<label><%= f.radio_button :type, "captain" %>Капитан</label>
					<label><%= f.radio_button :type, "owner" %>Судовладелец</label>
				</div>
				<div class="text">
					<label for="name">Имя</label>
					<div class="left clear">
						<%= f.text_field :name, :default => "Имя" %>
						<div class="example">Пример: Имя</div>
					</div><div class="ready"></div><div class="info"></div>
				</div>
				<div class="text">
					<label for="mail">Электронная почта</label>
					<div class="left clear">
						<%= f.text_field :email, :default => "Электронная почта" %>
						<div class="example">Пример: почта@почта</div>
					</div><div class="not_ready"></div><div class="info">Адрес электронной почты будет логином для авторизации на сайте.
Адрес нигде не публикуется и не достанется спамерам.</div>
				</div>
				<div class="text">
					<label for="pass">Пароль</label>
					<div class="left clear">
						<%= f.password_field :password, :id => "user_password_password" %>
						<div class="example pass"></div>
					  </div><div class="ready"></div><div class="info"></div>
				</div>
		</div>
	</div>
	<div class="w910">
		  
		<div class="errorInfo"><%= devise_error_messages! %></div>
		<input type="submit" class="submit" href="#">Зарегистрироваться...</a>
	</div>
<% end %>
</div>
<!--
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>


  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
-->