<% #coding: utf-8 %>
<%= semantic_form_for ["admin", @item], :html => { :multipart => true } do |f| %>
  <% @item.errors.each do |field,error| %>
    <b><%= field %> <%= error %></b><br/>
  <% end %>
  <%= f.inputs do %>
    <%= f.input :page_id, :value => Page.find_by_slug("s_probegom").id, :as => :hidden %>
	<%= f.input :title %>
	<%= f.input :price %> <%= f.input :currency, :label => "Валюта" %>
	<%= f.input :item_assign, :as => :select, :label => "Назначение" %>
	<%= f.input :lgth, :label => "Длина" %>
	<li id="item_on_hand_input" class="boolean optional"><label for="item_on_hand">Есть в наличии</label><%= f.check_box :on_hand %></li>
	<li id="item_description_input" class="string optional">
		<label for="item_description">Описание</label>
		<div class="left"><%= f.ckeditor_textarea :item, :description %></div>
	</li>

      <%= f.input :mileage, :label => "Пробег" %>
      <%= f.input :year, :label => "Год выпуска" %>

	<%= f.semantic_fields_for :image do |image_form| %>
	  <%= image_tag @item.image.url(:thumb) if @item.image %>
	  <%= image_form.input :attachment, :as => :file %>
      <%#= f.input :remove_image, :as => :boolean, :label => "Удалить картинку" %>
       <%= link_to_remove_fields "Удалить", image_form %>
    <% end %>
    <% #f.inputs :for => :assets %>
   <% end %>

    <%= f.inputs do %>
	<a class="collapse" href="javascript:void();" rel="gallery_block">Галерея</a>
	<div class="gallery_block hidden">
	<% if @item.gallery_images %>
	 <% @item.gallery_images.each do |image| %>
	    <div id="<%= dom_id(image) %>"><%= image_tag image.url(:thumb) %> <%= link_to "Удалить", admin_asset_path(image, :js), :method => :delete, :confirm => "Удалить файл?", :remote => true %></div>
	  <% end %>
	<% end %>
	<% f.semantic_fields_for :gallery_images do |gallery_images| %>
     <%#= render 'interior_images', :f => interior_images %>
	<% end %>
	<%= link_to_add_fields "Добавить", f, :gallery_images %>
	</div>
   <% end %>

   <%= f.inputs do %>
	<a class="collapse" href="javascript:void();" rel="properties_block">Характеристики</a>
	<div class="properties_block hidden">
	<%= f.semantic_fields_for :item_properties do |item_properties| %>
      <%= render 'item_property_fields', :f => item_properties %>
	<% end %>
	
	<%= link_to_add_fields "Добавить", f, :item_properties %>
	</div>
   <% end %>
	<%= f.buttons do %>
	  <%= f.commit_button :label => "Сохранить", :button_html => {:class => :yellow_button} %>
	  <li><%= link_to "Отменить", "", :class => :yellow_button, :confirm => "Внимание!\nИзменения не будут сохранены. Продолжить?" %></li>
	<% end %>
<% end %>