
	<div class="login">
<%= form_for("admin_user", :url => admin_user_session_path, :html => {:style => 'style="margin: 0 auto; float: none;"'}) do |f| %>
<fieldset>
  <%= f.label :email, "E-mail" %>
  <%= f.text_field :email %>

  <%= f.label :password, "Пароль" %>
  <%= f.password_field :password %>

  <% if devise_mapping.rememberable? -%>
     <label for="admin_user_remember_me"><%= f.check_box :remember_me, :style => "float: left; width: 20px; height: 12px;margin-bottom:10px;" %> Запомнить меня</label>
  <% end -%>

  <%= f.submit "Войти", :class => [:yellow_button, :clear] %>

	<% if flash[:alert] && flash[:alert] != "Вам нужно войти или зарегистрироваться перед тем, как продолжить." %><div class="submitError" style="min-height: 40px;"><%= flash[:alert] %></div><% end %>
</fieldset>
<% end %>
	</div>
<%#= render :partial => "devise/shared/links" %>