<% if @items %>
<ul>
<% @items.each do |item| %>
<li>
<% if item.image %><a href="<%= item.url %>"><img style="width:128px;height:80px;" src="<%= item.image.url(:thumb) %>" alt="" /></a><% end %>
<a class="name" href="<%= item.url %>"><%= item.title %></a>
<% if session[:comparison] && session[:comparison].include?(item.id) %>
<a class="remove comparison" data-remote="true" href="/comparison/<%= item.id %>" id="comparison_<%= item.id %>">Убрать из сравнения</a>
<% else %>
<a class="add comparison" data-remote="true" href="/comparison/<%= item.id %>" id="comparison_<%= item.id %>">Добавить к сравнению</a>
<% end %>
</li>
<% end %>
</ul>
<% else %>
Не найдено ни одной яхты.
<% end %>
<div class="clear"></div>
