<div class="w910">
	<div class="tree"><a href="/">Главная</a> /  <b>Выбор яхты</b> <div class="arrow"></div></div>
</div>

<div class="w910">
	<%= raw @page.body %>
</div>
<div class="blueBg filters">
	<div class="w910">
		<h2>Назначение</h2>
		<ul class="f1 filter_ul">
			<% Item.group(:item_assign_id).each do |item|%>
			  <% if item.item_assign %>
		<li><a<%=raw ' class="sport"' if item.item_assign.title == "Спортивные" %> rel="item_assign_id" data="<%= item.item_assign_id %>"><span><%= raw item.item_assign.title %></span></a></li>
			  <% end %>
			<% end %>
<!--		<li class="current"><a href="javascript:void(0);"><span>Для длительных прогулок<br />до нескольких дней</span></a></li> -->
		<li><a class="all" rel="item_assign_id" data=""><span>Показать все</span></a></li>
		</ul>
		<h2>Длина (футы)</h2>
		<ul class="f2 filter_ul">
			<% Item.brand_new.select(:lgth).group(:lgth).each do |length|%>
			<% if length.lgth.to_i > 0 %>
		        <li><a rel="lgth" data="<%= length.lgth %>"><%= length.lgth %></a><span></span></li>
			<% end %>
		    <% end %>
		</ul>
	</div>
</div>
<div class="w910 brand filterResult" id="filterResult">

</div>
