<div class="w910 personalInfo">
	<div class="tree"><a href="#">Главная</a> / <b>Блог</b> <div class="arrow"></div></div>
	<div class="clear"></div>
	<div class="left">
		<% if @user.avatar %><img style="margin-right: 10px; margin-top: 5px;" class="left" src="<%= @user.avatar.url(:normal) %>" /><% end %>
		<div class="left">
			<h2 class="color_black noclear"><%= @user.name %></h2>
			<% if @user == @user %><a class="submit formReady edit" href="<%= edit_user_path(@user) %>">Редактировать</a><% end %>
		</div>
		<div class="clear"><br /></div>
		<h2>О себе</h2>
		<p><%= @user.about %></p>
		<h2><a href="<%= user_blogs_path(@user) %>">Личный блог</a> (<%= @user.blog_posts.size %> <%= Russian::p(@user.blog_posts.size, "запись", "записи", "записей")%>)</h2>
		<% if @user.blog_posts.size > 0 %>
		<ul class="pblogList">
			<% @user.blog_posts.limit(5).each do |post| %>
		<li><a class="color_gray_d" href="<%= user_blog_path(post) %>"><%= post.title %></a></li>
			<% end %>
		<li class="all"><a href="<%= user_blogs_path(@user) %>">Все записи</a></li>
		</ul>
		<% end %>
		<a class="submit formReady add" href="<%= new_blog_path %>">Добавить запись</a>
	</div>
	<div class="right">
	<% if @user.item %>
	<h2>Моя яхта</h2>
		<% if @user.item.image %><a href="#" class="imgBorder"><img src="<%= @user.item.image.url(:normal) %>" /></a><% end %>
		<div class="clear"></div>
		<% if @user.item.description %><p><%= @user.item.description %></p><% end %>
		<% if @user.item.price %><a class="forSale" href="#"><span>Продается</span></a><% end %>
	<% end %>
	</div>
</div>	