
<div class="w910">
	<div class="tree"><a href="/">Главная</a> / <a href="/about/">Клуб</a> / <a href="<%= registration_path(current_user) %>">Личная страница</a> / <b>Настройки</b> <div class="arrow"></div></div>
	<div class="clear"></div>
	<%= render 'shared/user_tabs' %>
</div>
<div class="formWrap">
<%= form_for(@user, :as => "user", :url => registration_path("user"), :html => { :method => :put, :class => :personal}) do |f| %>
	<div class="blueBg"></div>
	<div class="whiteBg">
		<div class="w910">
			<fieldset class="noBorder">
				<div class="text avatar" style="width: 300px;">
					<label for="avatar">Аватар</label>
					<img src="<%= current_user.avatar.url %>" alt="Аватар" />
						<a class="submit formReady" style="position: relative;">Выбрать фото<%= f.fields_for :avatar do |avatar| %><%= avatar.file_field :attachment %><% end %></a>
				</div>
				<div class="text left">
					<label for="name">Ф.И.О.</label>
					
					<%= f.text_field :name %>
					<div class="example"></div>
					<div class="errorInfo"></div>
				</div>
				<div class="text">
					<label for="mail">Электронная почта</label>
					<%= f.text_field :email %>
					<div class="example">Пример: почта@почта</div>
					<div class="errorInfo"></div>
				</div>
				<div class="text">
					<label for="pass">Пароль</label>
				    <%= f.password_field :password %>
					<div class="example"></div>
				</div>
				<div class="radio clear">
					<label><%= f.radio_button :user_type, "captain" %>Капитан</label>
					<label><%= f.radio_button :user_type, "owner" %>Судовладелец</label>
				</div>
				<div class="text clear">
					<label for="city">Город</label>
					<%= f.text_field :city %>
					<div class="example"></div>
					<div class="errorInfo"></div>
				</div>
				<div class="text clear">
					<label for="phone">Телефон</label>
					<%= f.text_field :phone %>
					<div class="example"></div>
					<div class="errorInfo">	</div>
				</div>
				<div class="text clear">
					<label for="city">О себе</label>
					<%= f.text_area :about %>
					<div class="example"></div>
					<div class="errorInfo"></div>
				</div>
				<div class="radio clear">
					<label><%= f.check_box :receive_comments %>Подписаться на комментарии</label>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="w910">
		<fieldset class="noBorder">
			<div class="errorInfo"></div>
			<input type="submit" class="submit formReady" value="Сохранить"><input class="submit formReady" value="Отмена" onclick="window.history.go(-1);">
		</fieldset>
	</div>
<% end %>
</div>