<% 
@page ||= @item.page if @item
%>
<div class="tree">
<% if @item %>
	<a href="/">Главная</a><% @page.self_and_ancestors.each do |page| %> / <a href="<%= page.url %>"><%= strip_tags(page.title) %></a><% end %> <%= raw ' / ' + content_tag(:b, @item.title+" "+@item.lgth.to_s) if @item %>
<% else %>
<a href="/">Главная</a><% @page.self_and_ancestors.each do |page| %>
  <% if page == @page %>
   / <b><%= raw page.title %></b>
  <% else %>
   / <a href="<%= page.url %>"><%= strip_tags(page.title) %></a>
  <% end %>
<% end %>

<% end %>
	<div class="arrow"></div>
</div>
	<div class="clear"></div>