
<ul class="leftMenu">
<% 
if @page.root?
  left_menu_items = @page.children 
else
  left_menu_items = @page.self_and_siblings
end
%>

<% left_menu_items.each do |page| %>
  <%= raw link_or_span(page) %>
<% end %>

</ul>
<% if current_user %>
<div class="leftBlueBox">
	<% if current_user.owner? %><div class="resumePic"><a href="#">Резюме капитанов</a></div>
    <div class="clear"></div>
    <div class="servisPic"><a href="#">Заявка на сервисное обслуживание яхты</a></div>
    <% end %>
    <% if current_user.captain? %>
	<div class="resumePic"><a href="#">Разместить резюме</a></div>
	<% end %>
	<div class="resumePic"><a href="#">Добавить запись в личный блог</a></div>
</div>
<% end %>

<% if @page && (@page.blanks.size > 0 || @page.rules.size > 0) %>
	<ul class="files">
	<% if @page.blanks.size > 0 %>
	<% @page.blanks.each do |asset| %>
	<div class="file <%= file_extension(asset.attachment_content_type) %>"><a href="<%= asset.url %>"><%= asset.attachment_file_name %></a></div>
	<% end %>
	<% end %>
	<% if @page.rules.size > 0 %>
	<% @page.rules.each do |asset| %>
	<div class="file <%= file_extension(asset.attachment_content_type) %>"><a href="<%= asset.url %>"><%= asset.attachment_file_name %></a></div>
	<% end %>
	<% end %>
<% end %>