
<ul class="leftMenu">
<% 
if @page.root?
  left_menu_items = @page.children 
else
  left_menu_items = @page.self_and_siblings
end
%>

<% left_menu_items.order(:position).each do |page| %>
  <%= raw link_or_span(page) %>
<% end %>

</ul>
<% if current_user %>
<div class="leftBlueBox">
	<% if current_user.owner? %>
	<div><span class="resumePic"></span><a href="<%= resumes_path %>"><span>Резюме капитанов</span></a></div>
	<div><span class="servisPic"></span><a href="<%= resumes_path %>"><span>Заявка на сервисное обслуживание яхты</span></a></div>
    <% end %>
    <% if current_user.captain? %>

	<% end %>
	<div><span class="blogPic"></span><a href="<%= new_user_blog_path(current_user) %>"><span>Добавить запись в личный блог</span></a></div>
</div>
<% end %>

<% if @page && @page.slug != "kapitanu" && (@page.blanks.size > 0 || @page.rules.size > 0) %>
	<ul class="files">
	<% if @page.blanks.size > 0 %>
	<% @page.blanks.each do |asset| %>
	<div class="file <%= file_extension(asset.attachment_content_type) %>"><a href="<%= asset.url %>"><%= asset.attachment_file_name %></a></div>
	<% end %>
	<% end %>
	<% if @page.rules.size > 0 %>
	<% @page.rules.each do |asset| %>
	<div class="file <%= file_extension(asset.attachment_content_type) %>"><a href="<%= asset.url %>"><%= asset.attachment_file_name %></a></div>
	<% end %>
	<% end %>
<% end %>