
<ul class="leftMenu">
<% 
if @page.root?
  left_menu_items = @page.children.menu.order(:position)
else
  left_menu_items = @page.self_and_siblings.menu.order(:position)
end
%>

<% left_menu_items.each do |page| %>
  <%= raw link_or_span(page) %> 
<% end %>

</ul>
<% if current_user %>
<div class="leftBlueBox">
	<% if current_user.owner? %>
	<div><span class="resumePic"></span><a href="/about/resumes"><span>Резюме капитанов</span></a></div>
<!--	<div><span class="servisPic"></span><a href="<%= resumes_path %>"><span>Заявка на сервисное обслуживание яхты</span></a></div> -->
    <% end %>
    <% if current_user.captain? %>

	<% end %>
	<div><span class="blogPic"></span><a href="<%= new_user_blog_path(current_user) %>"><span>Добавить запись в личный блог</span></a></div>
</div>
<% end %>

<% if @page && (@page.attachments.size > 0) %>
	<ul class="files">
	<% if @page.attachments.size > 0 %>
	<% @page.attachments.each do |asset| %>
	<div class="file <%= asset.attachment_file_name.split(".").last.downcase %>"><a href="<%= asset.url %>"><%= asset.attachment_file_name %></a>
		<%= asset.attachment_file_name.split(".").last.upcase %>, <%= (asset.attachment_file_size/1024).round(3) %> Кб
		</div>
	<% end %>
	<% end %>
	</ul>
<% end %>

<% if @page && @page.blocks.size > 0 %>
<div class="clear"></div>
	<% @page.blocks.each do |block| %>
	<%= raw block.content %>
	<% end %>
<% end %>