	<div class="w910 typical">
		<%= render 'shared/breadcrumbs' %>
		<div class="left">
			<%= render 'shared/left_menu' %>
		</div>
		<div class="right">
			<div class="left col_2 ">
<%= raw @page.body %>
<!--				<h2>Администрации портов</h2>
				<p><b>Большой порт Санкт-Петербург</b></p>
				<p class="contactInfo">Санкт-Петербург, ул.Гапсальская д.10.<br />
Тел. (812) 718-89-51, факс (812) 327-4020<br />
Телекс 622430 PASP RU<br />
Сайт: <a href="#">www.pasp.ru</a><br />
Эл. почта: <a href="#">public@mail.pasp.ru</a><br /><br /></p>
				<p><b>ГБУ «Волго-Балт»</b></p>
				<p class="contactInfo">Санкт-Петербург, ул. Большая Морская, д. 37<br />
Телефон секретаря: (812) 314-28-48<br /> 
Факс: (812) 315-38-58<br />
Эл. почта: <a href="#">gbu(at)volgo-balt.ru</a><br />
Сайт: <a href="#">www.volgo-balt.ru</a><br /><br /></p>
				<p><b>Большой порт Санкт-Петербург</b></p>
				<p class="contactInfo">Санкт-Петербург, ул.Гапсальская д.10.<br />
Тел. (812) 718-89-51, факс (812) 327-4020<br />
Телекс 622430 PASP RU<br />
Сайт: <a href="#">www.pasp.ru</a><br />
Эл. почта: <a href="#">public@mail.pasp.ru</a><br /><br /></p>
-->
			</div>
			<div class="col_2 right">
				<h2>Погода</h2>
				<%=raw open('http://www.yandex.ru/wy/weather.xml').read %>
				
			</div>
<%= render 'pages/attachments'%>
		</div>
	</div>