<div class="clear"></div>
<div class="main_banner">
<!--	<div id="slider" class="images">
		<img src="images/main_banner/colombo_algarve_42.jpg" title="Algarve 42" alt="" />
		<img src="images/main_banner/colombo_atlantic_38.jpg" title="Atlantic 38" alt="" />
		<img src="images/main_banner/colombo_virage_35.jpg" title="Virage 35" alt="" />
		<img src="images/main_banner/sarnico_60.jpg" title="Sarnico 60" alt="" />
		<img src="images/main_banner/sarnico_65.jpg" title="Sarnico 65" alt="" />
		<img src="images/main_banner/sarnico_spider.jpg" title="Spider" alt="" />
	</div>-->
	<div id="slider" class="images nivoSlider" style="width: 1201px; height: 455px; background-image: url(http://logomotiv.ru:3000/images/main_banner/sarnico_spider.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; position: relative; display: none; background-position: initial initial; background-repeat: no-repeat no-repeat; ">
			<img src="images/main_banner/colombo_algarve_42.jpg" title="Algarve 42" alt="" style="display: none; ">
			<img src="images/main_banner/colombo_atlantic_38.jpg" title="Atlantic 38" alt="" style="display: none; ">
			<img src="images/main_banner/colombo_virage_35.jpg" title="Virage 35" alt="" style="display: none; ">
			<img src="images/main_banner/sarnico_60.jpg" title="Sarnico 60" alt="" style="display: none; ">
			<img src="images/main_banner/sarnico_65.jpg" title="Sarnico 65" alt="" style="display: none; ">
			<img src="images/main_banner/sarnico_spider.jpg" title="Spider" alt="" style="display: none; ">
		<div class="nivo-slice" style="left: 0px; background-image: url(http://logomotiv.ru:3000/images/main_banner/colombo_algarve_42.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; top: 0px; height: 100%; width: 80px; opacity: 1; background-position: 0px 0%; background-repeat: no-repeat no-repeat; "></div><div class="nivo-slice" style="left: 80px; background-image: url(http://logomotiv.ru:3000/images/main_banner/colombo_algarve_42.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; top: 0px; height: 100%; width: 80px; opacity: 1; background-position: -80px 0%; background-repeat: no-repeat no-repeat; "></div><div class="nivo-slice" style="left: 160px; background-image: url(http://logomotiv.ru:3000/images/main_banner/colombo_algarve_42.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; top: 0px; height: 100%; width: 80px; opacity: 1; background-position: -160px 0%; background-repeat: no-repeat no-repeat; "></div><div class="nivo-slice" style="left: 240px; background-image: url(http://logomotiv.ru:3000/images/main_banner/colombo_algarve_42.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; top: 0px; height: 100%; width: 80px; opacity: 1; background-position: -240px 0%; background-repeat: no-repeat no-repeat; "></div><div class="nivo-slice" style="left: 320px; background-image: url(http://logomotiv.ru:3000/images/main_banner/colombo_algarve_42.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; top: 0px; height: 100%; width: 80px; opacity: 1; background-position: -320px 0%; background-repeat: no-repeat no-repeat; "></div><div class="nivo-slice" style="left: 400px; background-image: url(http://logomotiv.ru:3000/images/main_banner/colombo_algarve_42.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; top: 0px; height: 100%; width: 80px; opacity: 1; background-position: -400px 0%; background-repeat: no-repeat no-repeat; "></div><div class="nivo-slice" style="left: 480px; background-image: url(http://logomotiv.ru:3000/images/main_banner/colombo_algarve_42.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; top: 0px; height: 100%; width: 80px; opacity: 1; background-position: -480px 0%; background-repeat: no-repeat no-repeat; "></div><div class="nivo-slice" style="left: 560px; background-image: url(http://logomotiv.ru:3000/images/main_banner/colombo_algarve_42.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; top: 0px; height: 100%; width: 80px; opacity: 1; background-position: -560px 0%; background-repeat: no-repeat no-repeat; "></div><div class="nivo-slice" style="left: 640px; background-image: url(http://logomotiv.ru:3000/images/main_banner/colombo_algarve_42.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; top: 0px; height: 100%; width: 80px; opacity: 1; background-position: -640px 0%; background-repeat: no-repeat no-repeat; "></div><div class="nivo-slice" style="left: 720px; background-image: url(http://logomotiv.ru:3000/images/main_banner/colombo_algarve_42.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; top: 0px; height: 100%; width: 80px; opacity: 1; background-position: -720px 0%; background-repeat: no-repeat no-repeat; "></div><div class="nivo-slice" style="left: 800px; background-image: url(http://logomotiv.ru:3000/images/main_banner/colombo_algarve_42.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; top: 0px; height: 100%; width: 80px; opacity: 1; background-position: -800px 0%; background-repeat: no-repeat no-repeat; "></div><div class="nivo-slice" style="left: 880px; background-image: url(http://logomotiv.ru:3000/images/main_banner/colombo_algarve_42.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; top: 0px; height: 100%; width: 80px; opacity: 1; background-position: -880px 0%; background-repeat: no-repeat no-repeat; "></div><div class="nivo-slice" style="left: 960px; background-image: url(http://logomotiv.ru:3000/images/main_banner/colombo_algarve_42.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; top: 0px; height: 100%; width: 80px; opacity: 1; background-position: -960px 0%; background-repeat: no-repeat no-repeat; "></div><div class="nivo-slice" style="left: 1040px; background-image: url(http://logomotiv.ru:3000/images/main_banner/colombo_algarve_42.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; top: 0px; height: 100%; width: 80px; opacity: 1; background-position: -1040px 0%; background-repeat: no-repeat no-repeat; "></div><div class="nivo-slice" style="left: 1120px; background-image: url(http://logomotiv.ru:3000/images/main_banner/colombo_algarve_42.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; top: 0px; height: 100%; width: 81px; opacity: 1; background-position: -1120px 0%; background-repeat: no-repeat no-repeat; "></div></div>
</div>

<div class="content">
	<div class="index">
    	<div class="left">
        	<p class="about"><span></span>Компания «Президент-Нева» Энергетический центр» является эксклюзивным дилером компании <a href="#">Cantieri di Sarnico</a> на территории Российской Федерации. Мы хотим создать среду общения и удобный сервис для владельцев яхт.</p>
            <h3>Яхты в <a href="#">наличии</a></h3>
            <ul class="cols_3">
            <li>
            	<a href="#"><img src="images/indexPic.png" alt="" /></a>
                <p><a href="#">Noblesse</a><br />
                	Пробег: 1800 миль<br />
					Год выпуска: 2007</p>
            </li>
            <li>
            	<a href="#"><img src="images/indexPic.png" alt="" /></a>
                <p><a href="#">Noblesse</a><br />
                	Пробег: 1800 миль<br />
					Год выпуска: 2007</p>
            </li>
            <li>
            	<a href="#"><img src="images/indexPic.png" alt="" /></a>
                <p><a href="#">Noblesse</a><br />
                	Пробег: 1800 миль<br />
					Год выпуска: 2007</p>
            </li>
            </ul>
            <p class="doc defaultPic"><a href="#">Каталог яхт</a>(5 Mб, ПДФ)</p>
        </div>
        <div class="right">
        	<div class="part">
        		<img src="images/ship.gif" alt="" /><a href="#">Судовладельцу</a>
            	<img src="images/cap.gif" alt="" /><a href="#">Капитану</a>
            </div>
            <h3><a href="#">Новости</a></h3>
            <div class="news">
            	<a href="#">Компания Cantieri di Sarnico, основанная в 1992 году.</a>
                <a href="#">В продаже яхта Colombo Alldays 37 c пробегом.</a>
                <a href="#">Заканчивается прием заявок на участие в соревнованииях.</a>
                <a href="#">Открыт прием заказов на новую яхту</a>
            </div>
            <h3>Новое в <a href="#">блоге</a></h3>
            <div class="news">
            	<a href="#">Встреча членов клуба 2011</a>
                <a href="#">Тест-драйв новой клубной яхты, ждем всех</a>
                <a href="#">Где хранить зимой?</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>

</div>

<!--<div class="content">
    	<h1>Porsche Cayman S</h1>
<h2><a class="save">Сохранить</a></h2>
        <div class="news n_short">
        	<h2>Новости</h2>
<% if @posts %>
<% @posts.each do |post| %>
            <p><span class="date"><%= post.created_at.strftime("%d/%m/%Y") %></span><div class="editable" id="<%= dom_id(post)+"_announce" %>"><%= raw post.announce %></div></p>
<% end %>
<% end %>
        </div>
<% if @blocks %>
<% @blocks.each do |block| %>
<div class="editable"><%= raw block.content %></div>
<% end %>
<% end %>
        <div class="models mw620">
        	<h2>Модельный ряд Porsche</h2>
<% if @items %>
			  <% @items.each do |item| %>
        		<div class="cols_4"><center><%= image_tag item.image_url if item.image_url %><br /><a href="/catalog/show/<%= item.id %>"><%= item.title %></a><p><%= item.description %></p></center></div>
 		     <%= cycle("", "", "", raw('<div class="clear"></div>'))%>
              <% end %>
<% end %>            
            <div class="clear"></div>
        </div>
</div>
-->