<div class="clear"></div>
<div class="main_banner">
	<div id="slider" class="images">
		<% Slide.all.each do |slide| %>
			<%= image_tag slide.image.url, :title => slide.title, :alt => '', :href => slide.item.url, :style => 'display:none;' %>
		<% end %>
	</div>

</div>

<div class="w910 index">
    	<div class="left">
        	<p class="about"><span></span><%= raw @page.body %>
            <h3>Яхты в <a href="/catalog">наличии</a></h3>
            <ul class="cols_3">
	        <% @items.each do |item| %>
            <li>
            	<% if item.image %><a href="#"><img src="<%= item.image.url(:thumb) %>" alt="" /></a><% end %>
                <p><a href="<%= item.url %>"><%= item.title %></a><br />
                	Пробег: <%= item.mileage %> миль<br />
					Год выпуска: <%= item.year %></p>
            </li>
 			<% end %>
            </ul>
            <% if @page.pdf %><p class="file defaultPic"><a href="<%= @page.pdf.url %>">Каталог яхт</a>(5 Mб, ПДФ)</p><% end %>
        </div>
        <div class="right">
        	<div class="part">
        		<img src="images/ship.gif" alt="" /><a href="/about/sudovladelcu">Судовладельцу</a>
            	<img src="images/cap.gif" alt="" /><a href="/about/kapitanu/">Капитану</a>
            </div>
            <h3><a href="/posts">Новости</a></h3>
            <div class="news">
				<% @posts.each do |post| %>
				  <%= link_to post.title, posts_url(post) %><br/>
				<% end %>
            </div>
            <h3>Новое в <a href="/blog">блоге</a></h3>
            <div class="news">
			    <% @blog_posts.each do |post| %>
				  <%= link_to post.title, posts_url(post) %><br/>
				<% end %>
            </div>
        </div>
        <div class="clear"></div>


</div>
