<div class="w910 fullSitemap">
	<div class="tree"><a href="#">Главная</a> / <b>Карта сайта</b> <div class="arrow"></div></div>
	<div class="clear"></div>
	<form action="#">
			<div class="text">
				<label class="search">
				<input type="text" value="Поиск" />
				</label>
			</div>
			<input class="submit formReady right" value="Найти " type="submit">
	</form>
	
	<div class="clear"></div>
	<a class="mainPage" href="/"><span></span>Главная страница</a>
	<div class="clear"></div>
	

	<div class="col_4">
		<ul>
			<% page = Page.find_by_slug('about') %>
			<li><a href="<%=page.url%>"><%= strip_tags(page.title) %></a></li>
			<ul>
			<% page.children.each do |page| %>
				<li><a href="<%=page.url%>"><%= strip_tags(page.title) %></a></li>
			<% end %>
			</ul>
		</ul>
	</div>
	<div class="col_4">
		<ul>
			<% page = Page.find_by_slug('catalog') %>
			<li><a href="<%=page.url%>"><%= strip_tags(page.title) %></a></li>
			<ul>
			<% page.children.each do |page| %>
				<li><a href="<%=page.url%>"><%= strip_tags(page.title) %></a></li>
			<% end %>
			</ul>
		</ul>
	</div>
	
	<div class="col_4">
		<ul>
			<% page = Page.find_by_slug('filter') %>
			<li><a href="<%=page.url%>"><%= strip_tags(page.title) %></a></li>
			<% page = Page.find_by_slug('events') %>
			<li><a href="<%=page.url%>"><%= strip_tags(page.title) %></a></li>
			<ul>
			<% page.children.each do |page| %>
				<li><a href="<%=page.url%>"><%= strip_tags(page.title) %></a></li>
			<% end %>
			</ul>
		</ul>
	</div>
	
	<div class="col_4">
		<ul>
			<li><a href="/blogs">Блог</a></li>
			<li><a href="/contacts">Контактная информация</a></li>
			<li><p>Карта сайта</p></li>
		</ul>
	</div>
</div>