
<div class="w910 typical">
	<%= render 'shared/breadcrumbs' %>

    	<div class="left">
			<%= render 'shared/left_menu' %>
        </div>
        <div class="right">
        	<h1><%= @page.title %></h1>
            <%= raw @page.body %>
<a name="a">asdfa</a>
<%= render 'pages/attachments' %>
        </div>
    </div>