
<div class="w910 typical">
	<%= render 'shared/breadcrumbs' %>

    	<div class="left">
			<%= render 'shared/left_menu' %>
        </div>
        <div class="right page">
        	<h1><%= raw @page.title %></h1>
            <%= raw @page.body %>
<%= render 'pages/attachments' %>
        </div>
    </div>