<li>
<p class="date"><%= Russian::strftime(item.created_at, "%d %B %Y")%></p>

<% if item.image %><a href="<%= item.url %>"><img src="<%= item.image.url(:thumb) %>" alt="" /></a><% elsif item.gallery_images.size > 0 %><a href="<%= item.url %>"><img src="<%= item.gallery_images.first.url(:thumb) %>" /></a><% end %>
<a class="name" href="<%= item.url %>"><%= item.title %></a>
<p class="info">
	<% if item.mileage %>Пробег: <b><%= item.mileage %></b> <i><%= Russian.p(item.mileage, "миля", "мили", "миль")%></i><br /><% end %>
<% if item.year %>Год выпуска: <b><%= item.year %></b><% end %>
</p>

<% if item.price %><p class="price"><%= item.price %><i><%= raw item.currency %></i></p><% end %>
</li>