<div class="wallpapers">
<% if current_user %>
<ul>
<% @item.wallpapers.each do |wallpaper| %>
<li><span>
<center><img src="<%= wallpaper.url(:thumb) %>" alt="" /><br /></center>
<a class="name" href="<%= wallpaper.url(:big) %>" target="_blank">1280&times;1024</a><br />
<a class="name" href="<%= wallpaper.url(:medium) %>" target="_blank">1280&times;800</a><br />
<a class="remove" href="<%= wallpaper.url(:small) %>" target="_blank">1024&times;768</a><br />
</span></li>
<% end %>
</ul>
<% else %>
Для скачивания обоев Вам необходимо <%= link_to 'авторизоваться', new_user_session_path %> или <%= link_to 'зарегистрироваться', '/register' %>.
<% end %>

</div>