<div class="content">
<div class="catalog">

<% @page.items.select(:lgth).group(:lgth).each do |length| %>
            <ul>

            	<li class="number"><p><%= length.lgth %></p></li>
<% @page.items.find_all_by_lgth(length.lgth).each do |item| %>
                <li>
                <a href="<%= item.url %>"><% if item.image.url %><img alt="" src="<%= item.image.url(:thumb) %>"><% end %></a>
                <a href="<%= item.url %>" class="name"><%= item.title %></a>
                <a href="javascript:void();" class="comparison remove" id="<%= dom_id(item) %>">Добавить к сравнению</a>
                </li>
<% end %>


            </ul>
<% end %>
</div>
</div>