
<div class="w910 catalog">
	<% if @page.image && @page.image.url %><h1><%= image_tag @page.image.url %></h1><% else %><h1><%= @page.title %></h1><% end %>
	<ul id="tabs_switch" class="tabs">
		<li class="current"><a rel="yachts">Яхты</a></li>
		<li><a rel="history">История</a></li>
	</ul>
<div class="brand">


<div class="clear"></div>
<div id="tabs">
	<div id="yachts">
<% @page.items.select(:lgth).group(:lgth).each do |length| %>
            <ul>

            	<li class="number"><p><%= length.lgth %></p></li>
<% @page.items.order(:position).find_all_by_lgth(length.lgth).each do |item| %>
                <li>
                <a href="<%= item.item_url %>"><% if item.image %><img alt="" src="<%= item.image.url(:masked) %>"><% end %></a>
                <a href="<%= item.item_url %>" class="name"><%= item.title %></a>

				<% if !session[:comparison] || !session[:comparison].include?(item.id.to_i) %>
				<%= link_to "Добавить к сравнению", "/comparison/#{item.id}", :remote => true, :class => [:add, :comparison], :id => "item_#{item.id}_comparison" %>
				<% else %>
				<%= link_to "Убрать из сравнения", "/comparison/#{item.id}", :remote => true, :class => [:remove, :comparison], :id => "item_#{item.id}_comparison" %>
				<% end %>
                </li>
<% end %>
			<li class="last"></li>

            </ul>
<% end %>
	</div>
	<div id="history" style="display:none;">
		<%= raw @page.body %>
	</div>
</div>
</div>
</div>