<% content_for :breadcrumbs do %>
/ <b>Каталог</b>
<% end %>
<div class="models clear">
	<h2>Модельный ряд Porsche</h2>

	<% @items.each do |item| %>
	<div class="cols_6"><center><%= image_tag item.image_url(:thumb) if item.image_url %><br /><a href="/catalog/show/<%= item.id %>"><%= item.title %></a><p><%= item.description %></p></center></div> <%= cycle("", "", "", "", "", raw('<div class="clear"></div>'))%>
	<% end %>
    
    <div class="clear"></div>
</div>