<div class="w910 catalog">

        <div class="left">
       		<%= render 'shared/breadcrumbs' %>
        	<h1><%=@item.title%><span><%= @item.lgth %></span></h1>
        </div>
        <div class="actions">
	
        	<p class="presence"><span>Наличие:</span> 
				<% if @item.on_hand %>Есть на складе <span class="point">•</span></p><% else %>На заказ <span class="point" style="color:#808080;">•</span></p><% end %>
        	<span class="actions"><a href="#" class="sendOrder">Отправить заявку</a>
				<%= render 'messages/form', :message_for => "item_app/#{@item.id}" %><div class="arrow"></div></div>
			</span>
			<% if session[:comparison] && session[:comparison].include?(@item.id)%>
        	<a href="/comparison/<%= @item.id %>" class="remove comparison" data-remote="true" id="comparison_<%= @item.id %>">Убрать из сравнения</a>
			<% else %>
        	<a href="/comparison/<%= @item.id %>" class="add comparison" data-remote="true" id="comparison_<%= @item.id %>">Добавить к сравнению</a>
			<% end %>
        </div>
        
        <ul class="tabs">
        	<li<%=raw ' class="current"' if params[:view] =='review' || !params[:view] %>><a href="?view=review" rel="review">Обзор</a></li>
            <% if @item.exterior_images.size > 0 %><li<%=raw ' class="current"' if params[:view] =='exterior' %>><a href="?view=exterior" rel="exterior">Экстерьер</a></li><% end %>
            <% if @item.interior_images.size > 0 %><li<%=raw ' class="current"' if params[:view] =='interior' %>><a href="?view=interior" rel="interior">Интерьер</a></li><% end %>
            <% if @item.wallpapers.size > 0 %><li<%=raw ' class="current"' if params[:view] =='wallpapers' %>><a href="?view=wallpapers" rel="wallpapers">Обои</a></li><% end %>
            <% if @item.specification_images.size > 0 || @item.item_properties.size > 0 %><li<%=raw ' class="current"' if params[:view] =='specification' %>><a href="?view=specification" rel="specification">Спецификация</a></li><% end %>
            <% if @item.threed_assets.size > 0 %><li<%=raw ' class="current"' if params[:view] =='threed_view' %>><a href="?view=threed_view" rel="3dview">3-D вид</a></li><% end %>
            <% if @item.video_html %><li<%=raw ' class="current"' if params[:view] =='video' %>><a href="?view=video" rel="video">Видео</a></li><% end %>
            <li class="last"></li>
        </ul>

    <!--    <div class="b18-coverFlow" style="padding:0px">
	        <a class="left" href="#" id="ministers-left">
	            <img src="/javascripts/contentflow//img/b18/left.gif" alt="" />
	        </a>
	        <div class="leftzero"></div>
	        
	        <a class="right" href="#" id="ministers-right"><img src="/javascripts/contentflow//img/b18/right.gif" alt="" /></a>

	    </div>
	    
	-->
	<div id="tabs">
		<%=
		begin
			render 'catalog/'+params[:view].to_s
		rescue
			render 'catalog/review'
		end
		%>
		<%#= render 'catalog/review' %>
		<%#= render 'catalog/threed_view' %>
        <%#= render 'catalog/exterior' %>
		<%#= render 'catalog/interior' %>
        <%#= render 'catalog/specification' %>
        
		
    </div>
</div>