<div class="w910">
	<div class="tree"><a href="/">Главная</a> / <a href="/catalog/">Каталог яхт</a> / <a href="/catalog/s_probegom/">Яхты с пробегом</a> / <b><%= @item.title %></b> <div class="arrow"></div></div>
	<div class="clear"></div>
	<h1><%= @item.title %></h1>
	<div class="sProbegom_full">
		<div class="left">
			<div class="photo">
				<% if @item.gallery_images.size > 0 %>
				<div class="big"><%= image_tag @item.gallery_images.first.url(:normal) %></div>
				<ul class="small">
					<% @item.gallery_images.each do |img| %>
					<li><a><img src="<%= img.url(:thumb) %>" alt="" /></a></li>
					<% end %>
				</ul>
				<% end %>
			</div>
			<%=raw @item.description if @item.description %>
		</div>
		<div class="right">
			<% if @item.price %><p class="price"><%= @item.price %> <%= @item.currency %></p><% end %>
			<table class="mainInfo">
				<% if @item.mileage %><tr><th>Пробег:</th><td><%= @item.mileage %> <i>миль</i></td></tr><% end %>
				<% if @item.year %><tr><th>Год выпуска:</th><td><%= @item.year %></td></tr><% end %>
			</table>
			<% if @item.item_properties %>
			<table class="spec">
				<% @item.item_properties.each do |item_property| %>
				<tr><th><p class="name"><%= raw item_property.property.title %><span class="points"></span></p></th><th></th></tr>
				<tr><td></td><td><p class="value"><%= item_property.value %></p></td></tr>
				<% end %>
			</table>
			<% end %>
		</div>
	</div>
</div>