<div class="content">

        <div class="left">
       		<%= render 'shared/breadcrumbs' %>
        	<h1><%= @item.title %><span><%= @item.lgth %></span></h1>
        </div>
        <div class="actions">
        	<p class="presence"><span class="color_gray_l">Наличие:</span> Есть на складе <span class="point">•</span></p>
        	<a href="#">Отправить заявку</a>
        	<a href="#" class="add">Добавить к сравнению</a>
        </div>
        
        <ul class="tabs">
        	<li<%=raw ' class="current"' if params[:view] =='review' %>><a href="?view=review" rel="review">Обзор</a></li>
            <% if @item.exterior_assets.size > 0 %><li<%=raw ' class="current"' if params[:view] =='exterior' %>><a href="?view=exterior" rel="exterior">Экстерьер</a></li><% end %>
            <% if @item.interior_assets.size > 0 %><li<%=raw ' class="current"' if params[:view] =='interior' %>><a href="?view=interior" rel="interior">Интерьер</a></li><% end %>
            <% if @item.specification_assets.size > 0 || @item.item_properties.size > 0 %><li<%=raw ' class="current"' if params[:view] =='specification' %>><a href="?view=specification" rel="specification">Спецификация</a></li><% end %>
            <% if @item.threed_assets.size > 0 %><li<%=raw ' class="current"' if params[:view] =='threed_view' %>><a href="?view=threed_view" rel="3dview">3-D вид</a></li><% end %>
            <li class="last"></li>
        </ul>

    <!--    <div class="b18-coverFlow" style="padding:0px">
	        <a class="left" href="#" id="ministers-left">
	            <img src="/javascripts/contentflow//img/b18/left.gif" alt="" />
	        </a>
	        <div class="leftzero"></div>
	        
	        <a class="right" href="#" id="ministers-right"><img src="/javascripts/contentflow//img/b18/right.gif" alt="" /></a>

	    </div>
	    
	-->
	<div id="tabs">
		<%=
		begin
			render 'catalog/'+params[:view].to_s
		rescue
			render 'catalog/review'
		end
		%>
		<%#= render 'catalog/review' %>
		<%#= render 'catalog/threed_view' %>
        <%#= render 'catalog/exterior' %>
		<%#= render 'catalog/interior' %>
        <%#= render 'catalog/specification' %>
        
		
    </div>
</div>