<div class="sub3">
                    	<% if @item.image.url %><center><a href="<%= @item.url %>"><img alt="" src="<%= @item.image.url %>"></a></center><% end %>
                        <h2><%= @item.title %><span><%= @item.lgth %></span></h2>
                    	<div class="left">
							<a class="force" href="<%= @item.url %>?view=review">Обзор</a>
                            <% if @item.interior_assets.size > 0 %><a class="force" href="<%= @item.url %>?view=interior">Интерьер</a><% end %>
                            <% if @item.exterior_assets.size > 0 %><a class="force" href="<%= @item.url %>?view=exterior">Экстерьер</a><% end %>
                            <% if @item.specification_assets.size > 0 %><a class="force" href="<%= @item.url %>?view=specification">Спецификация</a><% end %>
							<% if @item.threed_assets.size > 0 %><a class="force" href="<%= @item.url %>?view=threed_view">3D-вид</a><% end %>
                        </div>
                        <div class="right">
							<% if @item.item_properties.size > 0 %>
							    <p>
							<% @item.item_properties.each do |item_property| %>
										<%= item_property.property.title %> &ndash;&nbsp; <%= item_property.value %><br/>

							<% end %>
								</p>
							<% end %>
	</div>
</div>