<%
content_for(:breadcrumbs) do
%> / <b>Новости</b>
<%
end
%>
<div class="w910 typical">
<div class="left">	
	<%= render 'shared/left_menu'%>
</div>
<div class="right">
<div class="news n_long">
	<h2>Новости</h2>
	<% if @posts %>
	<% @posts.each do |post| %>
    <p><%= image_tag post.image_url if post.image_url %><span class="date"><%= post.updated_at.strftime("%d/%m/%Y") %></span><a href="/posts/<%= post.id %>"><%= post.title %></a></p>
    <% end %>
    <% end %>
</div>
<% if @posts %>
<div class="pages clear">
	<%= will_paginate @posts %>
</div>
<% end %>
</div>
</div>
</div>