<div class="w910 typical">
	<div class="tree"><a href="/">Главная</a> / <b>Новости</b> <div class="arrow"></div></div>
	<div class="clear"></div>
<div class="left">	
	<%= render 'shared/left_menu'%>
</div>
<div class="right">

		<h1>Новости</h1>
		<ul class="newsList">
			<% if @posts %>
			<% @posts.each do |post| %>
			<li><span><%= post.updated_at.strftime("%d/%m/%Y") %></span><a href="/about/news/<%= post.id %>"><%= post.title %></a></li>
			<% end %>
			<% end %>
		</ul>


<% if @posts %>
<div class="pages clear">
	<%= will_paginate @posts %>
</div>
<% end %>
</div>
</div>
