<% content_for :helpbar do %>
<div class="addItems_border">
<ul class="addItems">

    <li><%= link_to 'Рассылка', "/admin/users/notification", :class => "ico_addArrow" %></li>
    <li><%= link_to 'Новые', "/admin/users/?search[activated]=0", :class => "ico_addArrow" %></li>
    <li><%= link_to 'Капитаны', "/admin/users/?search[user_type]=captain", :class => "ico_addArrow" %></li>
    <li><%= link_to 'Судовладельцы', "/admin/users/?search[user_type]=owner", :class => "ico_addArrow" %></li>
    
</ul>
</div>
<% end %>

<table border="0" id="main">
	<tr>
		<td>
			<ul class="tree news">
				<% collection.each do |resource| %>
				<li><span><a href="#" class="pic context" id="user_<%=resource.id%>"></a><p class="date"><%= resource.updated_at.to_date %></p><p class="text"><%= resource.name %></p></span></li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>