<% content_for :helpbar do %>
<div class="addItems_border">
<ul class="addItems">
	<li class="red"><%= link_to "История рассылок", notifications_admin_users_url  %></li>
    <li><%#= link_to 'Добавить новость', new_admin_post_path, :class => "ico_addArrow" %></li>    
</ul>
</div>
<% end %>
<h2>Рассылка уведомлений</h2>
<%= form_for "notification", :url => "/admin/users/send_notification", :as => :notification, :html => {:class => :notification, :multipart => true} do %>
<fieldset>
	<a class="collapse" href="javascript:void();" onclick="$('input[type=checkbox]').attr('checked', 'checked');">всем</a>    <a class="collapse" href="javascript:void();" onclick="$('input[type=checkbox].owner').attr('checked', 'checked');">судовладельцам</a>    <a class="collapse" href="javascript:void();" onclick="$('input[type=checkbox].captain').attr('checked', 'checked');">капитанам</a>    <a class="collapse" href="javascript:void();" onclick="$('input[type=checkbox]').removeAttr('checked');">очистить</a>
	<ol>
	<li class="boolean">
		<% collection.each do |resource| %>
		<label for="x<%= resource.id%>"><input id="x<%= resource.id %>" name="user_id[]" value="<%= resource.id %>" class="<%= resource.user_type %>" type="checkbox" /><%= resource.name %></label>
		<% end %>
    </li>
    </ol>
</fieldset>

<fieldset class="buttons">
<ol>
<li class="text">
<label for="description">
   Сообщение
	<div class="left">
			<%= text_area_tag :notification, nil %>
			<%= file_field_tag :attachment %>
	</div>
</label>
</li>
<li>
    <input type="submit" class="yellow_button clear" value="Отправить" href="#" />
	<input type="reset" class="yellow_button clear" value="Отменить" href="#" />
	<div class="submitError"></div>
</li>
</ol>
</fieldset>
<% end %>
