<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Title</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />





<%= stylesheet_link_tag :all %>
<!--[if IE]><link rel="stylesheet" href="styles/IE.css" type="text/css" /><![endif]-->
<%= javascript_include_tag :defaults,  "contentflow" %>
<%= csrf_meta_tag %>
<script tyle="text/javascript">
/*jQuery(document).ready(function(){
        var cf = new ContentFlow('ContentFlow', {reflectionColor: "#000000"});
});*/
</script>
<link rel="stylesheet" href="/stylesheets/nivo-slider.css" type="text/css" media="screen" />
<script src="/javascripts/jquery.aslideshow.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({
	        effect:'random', //Specify sets like: 'fold,fade,sliceDown'
	        slices:15,
	        animSpeed:500, //Slide transition speed
	        pauseTime:3000,
	        startSlide:0, //Set starting Slide (0 index)
	        directionNav:true, //Next & Prev
	        directionNavHide:true, //Only show on hover
	        controlNav:true, //1,2,3...
	        controlNavThumbs:false, //Use thumbnails for Control Nav
	        controlNavThumbsFromRel:false, //Use image rel for thumbs
	        controlNavThumbsSearch: '.jpg', //Replace this with...
	        controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
	        keyboardNav:true, //Use left & right arrows
	        pauseOnHover:true, //Stop animation while hovering
	        manualAdvance:false, //Force manual transitions
	        captionOpacity:0.8, //Universal caption opacity
	        beforeChange: function(){},
	        afterChange: function(){},
	        slideshowEnd: function(){}, //Triggers after all slides have been shown
	        lastSlide: function(){}, //Triggers when last slide is shown
	        afterLoad: function(){} //Triggers when slider has loaded
	    });
});
</script>
</head>
<body>
<div class="wrap"><div class="mapBg"></div>
<div id="main_container"><div class="contMargin"><div class="bgPic"></div>
	<div class="head">
		<% if params[:controller] == 'home' && params[:action] == 'index' %>
    	<img class="logo" alt="Президент Нева" src="/images/PrezidentNeva.gif" />
		<% else %>
		<a href="/"><img class="logo" alt="Президент Нева" src="/images/PrezidentNeva.gif" /></a>
		<% end %>
        <div class="right">
        	<div class="right clear">
            	<a href="#" class="home"></a>
                <a href="#" class="mail"></a>
                <a href="#" class="sitemap"></a>
            </div>
            <div class="right clear">
        		<p class="phone color_gray_l">(812) <a href="#">320-63-00</a></p><div class="client"><a class="enter" href="#">Войдите</a> или <a href="#">зарегистрируйтесь</a>.</div>
            </div>
		</div>
        <div class="compare"><div class="shadow_b"><div class="shadow_r"><div class="data">
        	<center><a class="count toggle" rel="compare_items" href="#">3 яхты к сравнению<span></span></a></center>
            <div class="compare_items" id="compare_items">
                <a href="#">Colombo Alldays 3788 8 88</a>
                <a href="#">Colombo Alldays Sport Fisher Megayahtus</a>
                <a href="#">Colombo Alldays 37</a>
            </div>
            <center><a class="button" href="#"><span class="l"></span>Сравнить<span class="r"></span></a></center>
        </div></div></div></div>
    </div>
    <ul class="main_menu">
	<%= render 'shared/menu' %>
    	<!--<li style="z-index: 29;"><a href="#">О КЛУБЕ</a></li>
        <li style="z-index: 28;"><a href="#">КАТаЛОГ ЯХТ</a>
        	<ul class="sub1">
            <li><a href="#">111<span class="arrow"></span></a></li>
            <li><a href="#">© 2011 «Президент-Нева» Энергетический центр»<span class="arrow"></span></a>
            	<ul class="sub2">
                <li><a href="#">111<span class="arrow"></span></a></li>
                <li><a href="#">© 2011 «Президент-Нева» Энергетический центр»<span class="arrow"></span></a>
               		<div class="sub3">
                    	<center><a href="#"><img src="images/menuPic.jpg" alt="" /></a></center>
                        <h2>Super Indios Elettrico<span>37</span></h2>
                    	<div class="left">
							<a href="#">Обзор</a>
                            <a href="#">Интерьер</a>
                            <a href="#">Экстерьер</a>
                            <a href="#">Спецификация</a>
                            <a href="#">Еще какой-то длинный пункт</a>
                        </div>
                        <div class="right"><p>Материал корпуса – стеклопластик-GPR<br />Длина – 12,69 м<br />Осадка – 0,66 м<br />Водоизмещение – 8,7 т<br />Макс. скорость – 33 узла<br />Пассажировместимость – 12 чел.<br />Спальных мест – 5<br />Топлимвный танк – 1000 л<br />Танк пресной воды – 350 л<br />Район плавания – «В»<br />Двигатели – 2 х Volvo Penta IPS (300 л. с.)</p></div>
                    </div>
                </li>
                <li><a href="#">333</a></li>
                <li><a href="#">4444</a></li>
                </ul>
            </li>
            <li><a href="#">333<span class="arrow"></span></a>
                <ul class="sub2">
                <li><a href="#">111<span class="arrow"></span></a></li>
                <li><a href="#">© 2011 «Президент-Нева» Энергетический центр»<span class="arrow"></span></a></li>
                <li><a href="#">333</a></li>
                <li><a href="#">4444</a></li>
                </ul>
            </li>
            <li><a href="#">4444</a></li>
            </ul>
        </li>
        <li style="z-index: 27;"><a href="#">ВЫБИРАЕМ ЯХТУ</a></li>
        <li style="z-index: 26;"><a href="#">МЕРОПРИЯТИЯ</a></li>
        <li style="z-index: 25;"><a href="#">КОНТАКТНАЯ ИНФОРМАЦИЯ</a></li>
-->
        <li style="z-index: 24;" class="blog"><a href="#">БЛОГ<img src="images/blog.gif" alt="Блог" /></a></li>

        <div class="clear"></div>
    </ul>
    <div id="content">
	  <%= yield %>
	  <div class="yacht">
		<img src="/images/yacht.gif" alt="" />
	    <div class="water"></div>
	  </div>
    </div>
</div>

<div class="foot">
    <p class="author">Дизайн — студия <a href="http://logomotiv.ru/">Logomotiv</a>, 2011.<br /><a href="#">Информация</a> о проекте.</p>
    <p class="copyright">© 2011 «Президент-Нева» Энергетический центр»<br /><a href="/contacts/">Контактная информация</a></p>
    <div class="left">
        <label class="search">
            <span class="l"></span>
            <input type="text" value="Поиск" />
            <span class="r"></span>
            <a class="ico" href=""></a>
        </label>
        <br />
        <a class="smap" href="#">Карта сайта</a>
    </div>
<div class="clear"></div>
</div>
</div>



</body>
</html>